@tailwind base;
@tailwind components;
@tailwind utilities;

.transition-backdrop-in {
  transition: backdrop-filter 2s ease-in, background-color 2s ease-in,
    width step-end 2s;
}

.transition-backdrop-out {
  transition: backdrop-filter 2s ease-in, background-color 2s ease-in;
}
